
  
  .accordion_display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .accordion_size {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .spacer {
    flex: 1 0 auto;
  }
  
  .btnDone {
    background-color: #3cb44b;
    color: #ffffff;
  }
  
  .btnInProgress {
    background-color: #f58231;
    color: #ffffff;
  }
  
  .btnToDo {
    background-color: #e6194b;
    color: #ffffff;
  }
  
  .btnSelectDone {
    color: #3cb44b;
  }
  
  .btnSelectInProgress {
    color: #f58231;
  }
  
  .btnSelectTodo {
    color: #e6194b;
  }
  
  .mat-icon {
    padding-right: 15px;
  }
  
  .mat-icon:hover {
    color: #ff0000;
    cursor: pointer;
    padding-right: 15px;
  }
  
  .image_center {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
  

  .taskContainer {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-flex;
    flex-direction: row;
    vertical-align: top;
  }


  .example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
   
  }
  
  
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }