html,
body {
  background-color: #a5abaf;
  width: 100%;
  height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.style-snackBarTrue {
  background-color: #568003;
  color: #ffffff;
}
.style-snackBarFalse {
  background-color: #810505;
  color: #ffffff;
}


